@import "../../variables.scss";
.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.about-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: absolute;
  top: 47%;
  right: 12%;
  transform: translateY(-50%);
  height: 600px;
  width: 650px;
  z-index: 100;
  & h2 {
    padding: 0 15px 0 20px;
    font-family: $font-text;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;

    border-top: 3px solid $color-black;
    border-left: 1px solid $color-black;
    border-right: 1px solid $color-black;
    border-bottom: 3px solid $color-black;
    border-radius: 15px;
    background-color: rgba(241, 224, 186, 0.6);
    color: $color-black;
    text-shadow: 5px 7px 2px rgba(0, 0, 0, 0.5);

    &::selection {
      background-color: $color-black;
      color: $color-gold;
    }
  }
}
.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  & button {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    transition: 0.3s;
    filter: drop-shadow(5px 7px 2px rgba(0, 0, 0, 0.5));

    & img {
      width: 100%;
      padding: 5px;
    }
    &:hover {
      scale: 1.1;
    }
    &:active {
      scale: 0.9;
    }
  }
}
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  text-align: justify;
  width: 100%;
}
.about-skull {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-100%);
  height: 100%;
  width: 800px;
  z-index: 50;
  pointer-events: none;
  filter: drop-shadow(8px 12px 5px rgba(0, 0, 0, 0.7));
  @media (max-width: 1100px) {
    width: 750px;
  }
  @media (max-width: 1000px) {
    width: 675px;
  }
  @media (max-width: 900px) {
    width: 600px;
  }
  @media (max-width: 800px) {
    width: 525px;
  }
  @media (max-width: 660px) {
    width: 450px;
  }
  @media (max-width: 570px) {
    width: 375px;
  }
  @media (max-width: 470px) {
    width: 325px;
  }
  @media (max-width: 390px) {
    width: 275px;
  }
  @media (max-width: 350px) {
    width: 250px;
  }
  @media (max-width: 325px) {
    width: 225px;
  }
  @media (max-width: 285px) {
    width: 200px;
  }
}
.slide1,
.slide2,
.slide3,
.slide4 {
  position: relative;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);
}
.slide1 {
  background-image: url(../../images/ingots.png);
}

.slide2 {
  background-image: url(../../images/nugget.png);
}

.slide3 {
  background-image: url(../../images/padlock.png);
}

.slide4 {
  background-image: url(../../images/rings.png);
}
.about-border-horizontally {
  width: 100%;
  height: 0;
  position: absolute;
  top: 70px;
  right: 0;
  border: 5px double $color-black;
  filter: drop-shadow(8px 12px 7px rgba(0, 0, 0, 0.5));
}
.about-border-vertically {
  height: 100%;
  width: 0;
  position: absolute;
  left: 160px;
  bottom: 0;
  border: 5px double $color-black;
  filter: drop-shadow(8px 12px 7px rgba(0, 0, 0, 0.5));
}

@media (max-width: 1100px), (max-height: 650px) {
  .about-slider {
    top: 50%;
    right: 10px;
    height: 99%;
  }
  .about-border-horizontally {
    display: none;
  }
  .about-border-vertically {
    display: none;
  }
}
@media (max-width: 940px), (max-height: 575px) {
  .about-slider {
    width: 65%;
    h2 {
      font-size: 40px;
    }
  }
  .about-border-horizontally {
    display: none;
  }
  .about-border-vertically {
    display: none;
  }
}
@media (max-width: 850px), (max-height: 500px) {
  .about-slider {
    h2 {
      font-size: 35px;
    }
  }
}
@media (max-width: 740px), (max-height: 450px) {
  .about-slider {
    width: 90%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .slider {
    button:nth-child(1) {
      filter: invert(1) drop-shadow(1px 1px 0px black)
        drop-shadow(2px 2px 0px $color-gold);

      border-radius: 15px;
    }
  }
}
@media (max-width: 580px), (max-height: 420px) {
  .about-slider {
    width: 100%;
  }
  .slide {
    margin: 0 2px;
  }
}
@media (max-width: 450px), (max-height: 400px) {
  .about-slider {
    h2 {
      font-size: 25px;
    }
  }
  .slider {
    button {
      width: 70px;
    }
  }
}
@media (max-width: 350px), (max-height: 380px) {
  .slider {
    button {
      width: 50px;
    }
  }
}
