@import "../../variables.scss";
.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.about-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: absolute;
  top: 47%;
  right: 12%;
  transform: translateY(-50%);
  height: 600px;
  width: 650px;
  z-index: 100;
  & h2 {
    padding: 0 15px 0 20px;
    font-family: $font-text;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;

    border-top: 3px solid $color-black;
    border-left: 1px solid $color-black;
    border-right: 1px solid $color-black;
    border-radius: 15px 15px 0 0;
    background-color: rgba(241, 224, 186, 0.6);
    color: $color-black;
    text-shadow: 5px 7px 2px rgba(0, 0, 0, 0.5);

    &::selection {
      background-color: $color-black;
      color: $color-gold;
    }
  }
}
.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  & button {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    transition: 0.3s;
    filter: drop-shadow(5px 7px 2px rgba(0, 0, 0, 0.5));

    & img {
      width: 100%;
      padding: 5px;
    }
    &:hover {
      scale: 1.1;
    }
    &:active {
      scale: 0.9;
    }
  }
}
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  text-align: justify;
  width: 100%;
}
.about-skull {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-100%);
  height: 100%;
  width: 800px;
  z-index: 50;
  pointer-events: none;
  filter: drop-shadow(8px 12px 5px rgba(0, 0, 0, 0.7));
  @media (max-width: 1440px) {
    width: 750px;
  }
  @media (max-width: 1370px) {
    width: 700px;
  }
  @media (max-width: 1270px) {
    width: 650px;
  }
  @media (max-width: 1190px) {
    width: 600px;
  }
  @media (max-width: 1100px) {
    width: 550px;
  }
  @media (max-width: 1024px) {
    width: 470px;
  }
  @media (max-width: 900px) {
    width: 400px;
  }
  @media (max-width: 785px) {
    z-index: -10;
  }
}
.slide1,
.slide2,
.slide3,
.slide4 {
  position: relative;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.slide1 {
  background-image: url(../../images/ingots.png);
}

.slide2 {
  background-image: url(../../images/nugget.png);
}

.slide3 {
  background-image: url(../../images/padlock.png);
}

.slide4 {
  background-image: url(../../images/rings.png);
}
.about-border-horizontally {
  width: 100%;
  height: 0;
  position: absolute;
  top: 70px;
  right: 0;
  border: 5px double $color-black;
  filter: drop-shadow(8px 12px 7px rgba(0, 0, 0, 0.5));
}
.about-border-vertically {
  height: 100%;
  width: 0;
  position: absolute;
  left: 160px;
  bottom: 0;
  border: 5px double $color-black;
  filter: drop-shadow(8px 12px 7px rgba(0, 0, 0, 0.5));
}
@media (max-width: 1250px), (max-height: 810px) {
  .about-slider {
    right: 6%;
  }
  .about-border-horizontally {
    top: 15px;
  }
  .about-border-vertically {
    left: 30px;
  }
}
@media (max-width: 1100px), (max-height: 810px) {
  .slider button {
    background-color: rgba(241, 224, 186, 0.6);
    border-radius: 15px;
    border-left: 3px solid $color-black;
    border-right: 3px solid $color-black;
  }
}
@media (max-width: 785px), (max-height: 700px) {
  .about-slider {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}
@media (max-width: 760px), (max-height: 650px) {
  .about-slider {
    width: 600px;
    height: 99%;
    justify-content: center;
    h2 {
      font-size: 40px;
    }
  }
  .slider {
    height: auto;
    button {
      width: 80px;
      height: 33px;
    }
  }
  .about-border-horizontally,
  .about-border-vertically {
    display: none;
  }
}
@media (max-width: 700px), (max-height: 500px) {
  .about-slider {
    width: 500px;

    h2 {
      font-size: 32px;
      padding: 0 10px 0 10px;
    }
  }
}
@media (max-width: 500px), (max-height: 450px) {
  .about-slider {
    width: 400px;

    h2 {
      font-size: 25px;
    }
  }
}
@media (max-width: 402px), (max-height: 402px) {
  .about-slider {
    width: 300px;

    h2 {
      font-size: 15px;
    }
  }
}
@media (max-width: 300px), (max-height: 360px) {
  .about-slider {
    width: 270px;

    h2 {
      font-size: 12px;
    }
  }
}
@media (min-width: 500px) and (max-height: 450px) {
  .about-slider {
    width: 470px;

    h2 {
      font-size: 27px;
    }
  }
}
@media (min-width: 700px) and (max-height: 450px) {
  .about-slider {
    width: 650px;

    h2 {
      font-size: 30px;
    }
  }
}
@media (min-width: 1000px) and (max-height: 450px) {
  .about-slider {
    width: 800px;

    h2 {
      font-size: 30px;
    }
  }
}
