@import "../../../variables.scss";
.scrollUp,
.scrollDown {
  position: absolute;
  right: calc(0% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scale: 0.8;
  animation: showScroll 7s forwards, pulse 1.5s ease-in-out infinite 7s;
  text-align: center;
  color: $color-black;

  & img {
    height: 120px;
  }
  & span {
    font-family: $font-title;
    text-transform: uppercase;
  }
}

.scrollUp {
  top: -18px;
}
.scrollDown {
  bottom: 1%;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showScroll {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 790px), (max-height: 450px) {
  .scrollUp,
  .scrollDown {
    scale: 0.6;
    right: calc(0% - 40px);
  }
}
@media (max-width: 640px), (max-height: 400px) {
  .scrollUp,
  .scrollDown {
    scale: 0.4;
    right: calc(0% - 48px);
  }
  .scrollUp {
    top: 0;
    transform: translateY(-40%);
  }

  .scrollDown {
    bottom: 0;
    transform: translateY(40%);
  }
}
